@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=Maven+Pro:wght@400..900&display=swap");

/* Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Maven Pro", Arial, Helvetica, sans-serif;
}
